/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f3f3f3;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.body-wrap {
    background-color: #f3f3f3;
}

.container {
    width: 1200px;
    margin: auto;
}

header {
    background-color: #ffe300;
    text-align: center;
}

nav {
    height: 50px;
    background-color: #000;
}

.logo {
    width: 160px;
    height: 35px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

nav li,
nav a {
    color: #fff;
    font-size: 12px;
}

nav ul li:nth-child(2) a {
    color: #ffe300;
}

nav ul li:nth-child(2) i {
    color: #ffe300;
    font-size: 15px;
    margin-left: 6px;
}

nav ul li:nth-child(3) {
    position: relative;
}

nav ul li:nth-child(3) input {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding-left: 6px;
    outline: none;
}

nav ul li:nth-child(3) i {
    position: absolute;
    font-size: 15px;
    color: #000;
    right: 12px;
    line-height: 30px;
    cursor: pointer;
}

nav ul li:nth-child(4) button {
    height: 30px;
    padding: 0 12px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li:nth-child(4) button i {
    margin-right: 6px;
}

nav ul li:nth-child(4) button:hover {
    background-color: rgb(87, 85, 85);
}

nav ul li:nth-child(5) {
    text-align: center;
}

nav ul li:nth-child(5):hover a {
    color: #ffe300;
}

nav ul li:nth-child(6) a {
    color: #ffe600;
}

.btn-content {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #ffe600;
    display: inline-block;
    margin-right: 6px;
}

.btn-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #c5af05;
    display: inline-block;
    pointer-events: none;
    animation: btnani 1s linear infinite;
}

@keyframes btnani {
    from {
        opacity: 0.4;
    }

    to {
        transform: scale(3);
        opacity: 0;
    }
}

nav ul li:nth-child(7):hover a,
nav ul li:nth-child(8):hover a,
nav ul li:nth-child(9):hover a {
    color: #ffe300;
}

/* Menu bar */
.menu-bar {
    background-color: #fed100;
}

.menu-bar ul {
    display: flex;
    justify-content: space-between;
}

.menu-bar ul li a {
    color: #000;
    font-size: 15px;
}

.menu-bar ul li a i {
    margin-right: 6px;
    font-size: 16px;
}

.menu-bar-content>ul>li {
    padding: 15px 10px;
    transition: all 0.3s ease;
}

.menu-bar ul li:hover {
    background-color: #fff;
}

.menu-bar ul li:nth-child(9) {
    position: relative;
}

.menu-bar-content>ul>li:nth-child(9)::before {
    position: absolute;
    content: "giáº£m 5%";
    display: block;
    height: 15px;
    width: 45px;
    background-color: #f51212;
    border-radius: 5px;
    right: -25px;
    top: 2px;
    font-size: 10px;
    padding-left: 3px;
    color: #fff;
    z-index: 10;
}

.menu-bar-content>ul>li:nth-child(9)::after {
    position: absolute;
    content: "";
    background-color: #f51212;
    height: 7px;
    width: 7px;
    display: block;
    top: 12px;
    right: 10px;
    transform: rotate(45deg);
}

/* Adress Form */
.adress-form {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    display: none;
    z-index: 998;
}

.adress-form-content {
    width: 550px;
    height: 450px;
    background-color: #fff;
    border-radius: 5px;
}

.adress-form-content form {
    padding: 12px 40px;
}

.adress-form-content h2 {
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.adress-form-content h2 span {
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px;
    border: 1px solid #ddd;
    right: 12px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #333;
    border-radius: 5px;
}

.adress-form-content form p {
    font-size: 16px;
    margin-top: 20px;
}

.adress-form-content form input,
select {
    height: 45px;
    display: block;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 5px
}

.adress-form-content form button {
    margin-top: 30px;
    height: 40px;
    width: 80%;
    cursor: pointer;
    background-color: #f97e0e;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
}

.adress-form-content form button:hover {
    background-color: #b36822;
}

/* submenu */
.menu-bar-content ul li {
    position: relative;
}

.submenu {
    position: absolute;
    background-color: #fff;
    width: 300px;
    height: auto;
    left: 0;
    top: 100%;
    padding: 12px;
    display: none;
    z-index: 10;
}

.submenu ul {
    display: flex;
    flex-direction: column;
}

.submenu ul li {
    padding: 6px 0;
}

.submenu ul li:hover a {
    color: blue;
}

.submenu ul li:hover {
    background-color: none;
}

.menu-bar-content ul li:hover .submenu {
    display: block;
}

/* Slider */
.slider {
    padding-top: 250px;
    height: 350px;
    background: url(./image/banner/background.png) center/cover no-repeat;
    margin-bottom: 300px;
}

.slider-content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1200px;
    margin-top: 10px;
}

.slider-content-left {
    width: 70%;
}

.slider-content-left-top {
    width: 100%;
    height: 300px;
    position: relative;
}

.slider-content-left-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-content-left-bottom {
    display: flex;
    justify-content: space-between;
    border: 2px solid #ddd;
    border-top: none;
    height: 50px;
}

.slider-content-left-bottom li {
    width: 20%;
    text-align: center;
    cursor: pointer;
    padding: 6px 0;
    height: 100%;
    line-height: 38px;
    position: relative;
    background: #fff;
}

.slider-content-left-bottom li::before {
    display: block;
    content: "";
    position: absolute;
    height: 70%;
    width: 1px;
    background-color: #ddd;
    right: 0;
}

.slider-content-left-bottom li.active {
    border-top: 4px solid #ffe300;
}

.slider-content-right {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-around;
}

.slider-content-right li {
    width: 50%;
    height: 50%;
    text-align: center;
    margin-bottom: 3px;
}

.slider-content-right li img {
    height: 170px;
    width: 170px;
    border-radius: 5px;
}

.slider-content-left-top-btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-content-left-top-btn i {
    color: #333;
    font-size: 35px;
    height: 50px;
    width: 30px;
    background-color: rgb(224, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
}

/* .slider-content-left-top:hover i{
    opacity: 1;
    cursor: pointer;
} */
/* slider js 1 */
.slider-content-left-top img {
    position: absolute;
}

.slider-content-left-top a:nth-child(2) img {
    transform: translateX(100%);
}

.slider-content-left-top a:nth-child(3) img {
    transform: translateX(200%);
}

.slider-content-left-top a:nth-child(4) img {
    transform: translateX(300%);
}

.slider-content-left-top a:nth-child(5) img {
    transform: translateX(400%);
}

.slider-content-left-top a:nth-child(6) img {
    transform: translateX(500%);
}

.slider-content-left-top a:nth-child(7) img {
    transform: translateX(600%);
}

.slider-content-left-top-container {
    position: relative;
    overflow: hidden;
}

.slider-content-left-top-container:hover i {
    opacity: 1;
    cursor: pointer;
}

.slider-content-left-top {
    transition: all 0.8s ease;
}

/* slider 2 */
.slider-content-left-bottom li.active {
    border-top: 4px solid #ffe300;
    font-weight: bold;
}

.slider-content-left-bottom li {
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
}

/* banner 1 */
.banner-ads {
    margin: 20px 0;
}

/* slider product 1 */
.slider-product-content {
    background-color: #ffe300;
    padding: 12px 0px;
    margin-bottom: 30px;
}

.slider-product-content-title h2 {
    font-style: italic;
    margin-bottom: 15px;
    padding-left: 15px;
}

.slider-product-content-items {
    display: flex;
    justify-content: space-evenly;
}

.slider-product-content-item {
    width: 19%;
    background-color: #fff;
    padding: 50px 12px 50px;
    border-radius: 5px;
    cursor: pointer;
}

.slider-product-content-item:hover .slider-product-content-item-text li:nth-child(2) {
    color: rgb(38, 38, 156);
}

.slider-product-content-item>img {
    width: 100%;
    transition: all 0.4s ease;
}

.slider-product-content-item:hover>img {
    transform: translateY(-20px);
}

.slider-product-content-item-text {
    padding-top: 20px;
}

.slider-product-content-item-text li {
    margin-bottom: 6px;
}

.slider-product-content-item-text li:first-child {
    height: 20px;
    width: 60%;
    background-color: #e72705;
    display: inline-block;
    margin-bottom: 20px;
    align-items: center;
    line-height: 20px;
    border-radius: 20px;
}

.slider-product-content-item-text li:first-child p {
    color: #fff;
    font-size: 12px;
}

.slider-product-content-item-text li:first-child img {
    width: 20px;
    float: left;
    margin-right: 4px;
}

.slider-product-content-item-text li:nth-child(4) a {
    color: rgb(66, 63, 63);
    text-decoration: line-through;
    font-size: 15px;
}

.slider-product-content-item-text li:last-child i {
    color: #fb6e2e;
}

/* slider product */
.slider-product-content-container {
    position: relative;
    overflow: hidden;
}

.slider-product-content-btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-product-content-btn i {
    color: #333;
    font-size: 35px;
    height: 50px;
    width: 30px;
    background-color: rgb(224, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0.3;
    transition: all 0.3s ease;
}

.slider-product-content-container:hover .slider-product-content-btn i {
    opacity: 1;
    cursor: pointer;
}

.slider-product-content-items-content {
    position: relative;
    height: 530px;
    transition: all 0.5s ease;
}

.slider-product-content-items {
    position: absolute;
}

.slider-product-content-items:nth-child(2) {
    transform: translateX(100%);
}

.slider-product-content-items:nth-child(3) {
    transform: translateX(200%);
}

/* product-gallery */
.product-gallery-content {
    background: #ff685f;
    padding: 12px 0px;
    margin-bottom: 30px;
}

.product-gallery-content-product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.product-gallery-content-product-item {
    width: 24%;
    padding: 20px 12px;
    border: 1px solid rgb(238, 232, 232);
    cursor: pointer;
    background: #fff;
    margin: 5px;
    border-radius: 10px;
}

.product-gallery-content-product-item:hover {
    box-shadow: 0 0 10px #999;
}

.product-gallery-content-product-item:hover>img {
    transform: translateY(-20px);
}

.product-gallery-content-product-item>img {
    width: 100%;
    transition: all 0.3s ease;
}

.product-gallery-content-product-text {
    padding-top: 20px;
}

.product-gallery-content-product-text li {
    margin-bottom: 6px;
}

.product-gallery-content-product-text li:first-child {
    height: 20px;
    width: 60%;
    background-color: #e72705;
    display: inline-block;
    margin-bottom: 20px;
    align-items: center;
    line-height: 20px;
    border-radius: 20px;
}

.product-gallery-content-product-text li:first-child p {
    color: #fff;
    font-size: 12px;
}

.product-gallery-content-product-text li:first-child img {
    width: 20px;
    float: left;
    margin-right: 4px;
}

.product-gallery-content-product-text li:nth-child(4) a {
    color: rgb(66, 63, 63);
    text-decoration: line-through;
    font-size: 15px;
}

.product-gallery-content-product-text li:last-child i {
    color: #fb6e2e;
}

.product-gallery-content-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.product-gallery-content-title h2 {
    color: #fff;
    font-style: italic;
    padding-left: 15px;
}

.product-gallery-content-title ul {
    display: flex;
}

.product-gallery-content-title ul li a {
    color: #fff;
    font-size: 12px;
    transition: all 0.3s ease;
}

.product-gallery-content-title ul li {
    padding: 6px 12px;
    border: 1px solid #ddd;
    margin-left: 12px;
    border-radius: 25px;
    background: #333;
}

.product-gallery-content-title ul li:hover a {
    color: rgb(41, 41, 241);
}

/* banner product */
.banner-product {
    margin: 30px 0;
}

.banner-product-content {
    display: flex;
    padding-right: 12px;
    background-color: #003743;
    height: 505px;
}

.banner-product-content-right {
    width: 20%;
}

.banner-product-content-right img {
    width: 100%;
}

.banner-product-content-left {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.banner-product-content-left-top {
    height: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: #ddd;
}

.banner-product-content-left-top li {
    padding: 10px 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.banner-product-content-left-top .active {
    background-color: #fff;
    color: rgb(40, 40, 187);
}

.banner-product-content-left-top li:last-child {
    border: none;
}

.banner-product-content-left-top li:last-child a {
    font-size: 16px;
}

.banner-product-content-left-top li:last-child i {
    margin-left: 3px;
}

.banner-product-content-left-bottom {
    background-color: #fff;
    display: flex;
    border-radius: 10px;
}

.banner-product-content-left-bottom-item {
    width: 25%;
    padding: 50px 20px 20px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.banner-product-content-left-bottom-item img {
    width: 100%;
}

.banner-product-content-left-bottom-item-text li {
    margin-bottom: 6px;
}

.banner-product-content-left-bottom-item-text li:last-child i {
    color: #fb6e2e;
}

.banner-product-content-left-bottom-item:hover .banner-product-content-left-bottom-item-text li:nth-child(2) {
    color: rgb(38, 38, 156);
}

.banner-product-content-left-bottom-item>img {
    width: 100%;
    transition: all 0.4s ease;
}

.banner-product-content-left-bottom-item:hover>img {
    transform: translateY(-20px);
}

.banner-product-content-left-bottom {
    position: relative;
    overflow: hidden;
}

.banner-product-content-left-bottom-btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.banner-product-content-left-bottom-btn i {
    color: #333;
    font-size: 35px;
    height: 50px;
    width: 30px;
    background-color: rgb(224, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0.3;
    transition: all 0.3s ease;
}

.banner-product-content-left-bottom:hover .banner-product-content-left-bottom-btn i {
    opacity: 1;
    cursor: pointer;
}

.banner-product-content-left-bottom-content {
    position: relative;
    height: 425px;
    transition: all 0.5s ease;
    width: 100%;
    overflow: hidden;
}

.banner-product-content-left-bottom-items {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.banner-product-content-left-bottom-items:nth-child(2) {
    transform: translateX(100%);
}

/* footer */

.footer-wrap {
    background-color: #fff;
}

footer {
    padding: 20px 0;
    border-top: 1px solid #ccc;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-list-item {
    font-size: 14px;
    margin: 15px 0px;
}

.footer-list-item a {
    color: #333;
}

.footer-list-item a:hover {
    color: #288ad6;
}

.footer-img img {
    width: 100%;
    cursor: pointer;
}

.footer-copyright {
    text-align: center;
    color: #333;
    font-size: 12px;
    background: #f1f1f1;
    padding: 15px 0;
}

/* breadcrums */

.breadcrumbs {
    padding: 10px;
    list-style: none;
}

.breadcrumbs li {
    display: inline;
    font-size: 15px;
    line-height: 1;
}

.breadcrumbs li+li:before {
    color: black;
    content: "/\00a0";
}

.breadcrumbs li:first-child a {
    color: #288ad6;
}

.breadcrumbs li a {
    color: #6c757d;
}

.breadcrumbs li a:hover {
    color: #000;
}

/* product details */

.product-detail {
    background: #fff;
}

.product-title {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
}

.product-name {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.product-rate {
    color: #3399d2;
    font-size: 14px;
    align-self: center;
    margin-left: 15px;
}

.product-rate i {
    color: #fb6e2e;
}

.product-content {
    display: flex;
}

.product-info {
    width: 55%;
}

.product-img img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.product-policy {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.product-policy-item {
    width: 30%;
    text-align: center;
    color: #555;
    font-size: 15px;
}

.product-policy-item i {
    color: #87b6f4;
}

.product-buy {
    padding: 10px 20px;
}

.product-desc-title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.product-desc-info {
    font-size: 15px;
    color: #333;
    margin-bottom: 15px;
}

.product-price {
    display: flex;
    margin-bottom: 15px;
    align-items: baseline;
}

.product-new-price {
    color: #d0021c;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.product-old-price {
    color: #666;
    font-size: 16px;
    text-decoration: line-through;
    margin-right: 10px;
}

.product-price-info {
    color: #d0021c;
    font-size: 16px;
}

.product-desc-info i {
    color: #33ac41;
    width: 20px;
}

.product-promotion {
    border: 1px solid #ccc;
    padding: 10px 20px 10px 40px;
    border-radius: 5px;
}

.product-promotion li {
    list-style: decimal-leading-zero;
    color: #333;
    padding: 5px 0;
}

.product-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-order-btn {
    flex: 1;
    margin: 5px;
    padding: 20px 0;
    background: #2f80ed;
    text-transform: uppercase;
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}